{% extends "main.html" %}

{% block head %}
<style>
    /* Styl dla komunikatów */
    .message {
        color: red;
        font-family: 'Arial', sans-serif;
        margin-bottom: 20px;
    }

    /* Styl dla nagłówka */
    .change-password-header {
        font-family: 'Arial', sans-serif;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }

    /* Styl dla formularza zmiany hasła */
    .change-password-form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .change-password-form label {
        font-family: 'Arial', sans-serif;
        color: #333;
        margin-bottom: 5px;
    }

    .change-password-form input[type="password"],
    .change-password-form input[type="submit"] {
        font-family: 'Arial', sans-serif;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .change-password-form input[type="submit"] {
        background-color: #0066cc;
        color: white;
        cursor: pointer;
    }

    .change-password-form input[type="submit"]:hover {
        background-color: #005bb5;
    }

</style>
{% endblock %}

{% block content %}

{% for message in messages %}
    <h2 class="message">{{ message }}</h2>
{% endfor %}
<div>
    <h1 class="change-password-header">Zmiana hasła</h1>
</div>
<form action="/change-password/" method="post" class="change-password-form">
    {% csrf_token %}
    <label for="old_password">Stare hasło:</label>
    <input type="password" id="old_password" name="old_password" required>
    
    <label for="new_password">Nowe hasło:</label>
    <input type="password" id="new_password" name="new_password" required>
    
    <label for="new_password2">Powtórz nowe hasło:</label>
    <input type="password" id="new_password2" name="new_password2" required>
    
    <input type="submit" value="Zmień hasło">
</form>

{% endblock %}
